body {
    font-family: Arial, sans-serif;
    background-color: #E5ECEB;
    margin: 0;
}

h1 {
    font-size: 1.2em;
}

a {
    color: #2A2A2A;
    text-decoration: none;
    font-size: 16px;
}


/* Navigation Bar */

nav{
    background-color: #fff;
}


/* Dropdown */


.nav-dropdown-button {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border: none;
    min-width: 170px;
    padding: 0px 20px 0px 0px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.nav-dropdown-button::after {
    content: '';
    background-image: url('/img/DropdownArrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    width: 12px;
    height: 12px;
}

.nav-dropdown-button:hover::after {
    transform: translateY(-50%) rotate(180deg);
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.nav-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-dropdown-content a:hover {
    background-color: #ddd;
}

.Bcontainer {
    background-color: #F5F5F5;
    padding: 25px;
    width: 800%;
    max-width: 580px;
    height: 350px;
    margin: 0 auto;
}


.Bcontainer {
    background-color: #F5F5F5;
    padding: 25px;
    width: 800%;
    max-width: 580px;
    height: 350px;
    margin: 0 auto;
    border-radius: 0 0 18px 18px;
    margin-bottom: 30px;
}

.Btop-bar {
    background-color: #143039;
    color: #E9FDB8;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    border-radius: 18px 18px 0 0;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 20px;
}


.Econtainer {
    background-color: #F5F5F5;
    padding: 25px;
    width: 800%;
    max-width: 580px;
    height: 427px;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
}


.Etop-bar {
    background-color: #143039;
    color: #E9FDB8;
    padding: 10px;
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 20px;
}

.Eoption{
    width: 335px;
    height: 209px;
    top: 265px;
    left: 36px;
    gap: 0px;
    border-radius: 18px 0px 0px 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    background-color: aliceblue;

}